@{
	ViewData["Title"] = "Регистрация";
	Layout = "../Shared/_Layout.cshtml";
}

<div class="page">
	<div class="page__container-left form__frame">
		<div class="form">
			<h1>Регистрация</h1>
			<h3>Уже есть аккаунт?&nbsp<a href="/Login">Войти</a></h3>
			<form action="/User/Registration" method="post">
				<div class="form__input">
					<h3>Фамилия</h3>
					<input type="text" required="required" name="surname"/>
				</div>

				<div class="form__input">
					<h3>Имя</h3>
					<input type="text" required="required" name="name"/>
				</div>

				<div class="form__input">
					<h3>Почта (Логин)</h3>
					<input type="text" required="required" name="login"/>
				</div>

				<div class="form__input" style="display: flex; flex-direction: row; align-items: center; justify-content: center">
					<h3>Запомнить меня</h3>
					<input type="checkbox" name="remember" style="margin-left: 25px;"/>
				</div>

				<button type="submit">
					Создать аккаунт
				</button>
			</form>
		</div>
	</div>

	<div class="page__container-right back__frame">
		<img src="~/svg/background_image.svg"/>
	</div>
</div>

@section Style {
	<link rel="stylesheet" href="~/css/registrationPage.css" asp-append-version="true" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
}
