.page {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
}

.main__frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
    margin: 30px;
}

.main__frame > * {
    margin: 0;
    padding: 0;
}

.main__frame > h1 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #009B79;
}

.main__frame > h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    color: #7EDAC5;
}

.main__frame > h3 > a {
    color: #009B79;
}

.form__input {
    margin: 20px 0;
}

.form__input h3 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #00E6B3;
    margin: 0;
    padding: 0;
}

.form__input input[type="text"],
.form__input input[type="password"] {
    width: 400px;
    height: 65px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 4px solid rgba(28, 38, 102, 0.2);
    border-radius: 12px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: start;
    color: #7EDAC5;
    padding: 5px;
}

.form__input input[type="checkbox"] {
    background: #FFFFFF;
    border: 2px solid #00E6B3;
    border-radius: 2px;
    width: 25px;
    height: 25px;
}


.main__frame > form > button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 400px;
    height: 66px;
    background: #00E6B3;
    border-radius: 10px;
    border: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 40px;
}

.main__frame > form > button {
    cursor: pointer;
}

.back__frame {
    background: rgba(0, 230, 179, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back__frame img {
    height: auto;
    width: 100%;
}

@media (min-width: 0px) {
    .page__container-left {
        width: 100%;
    }

    .page__container-right {
        display: none;
    }

    .main__frame > form > button,
    .form__input input[type="text"],
    .form__input input[type="password"] {
        width: 350px;
    }
}

@media (min-width: 768px) {
    .page__container-left {
        width: 100%;
    }

    .page__container-right {
        width: 100%;
        display: flex;
        background: none;
        position: absolute;
        z-index: -100;
        opacity: 0.1;
    }

    .main__frame > form > button,
    .form__input input[type="text"],
    .form__input input[type="password"] {
        width: 400px;
    }
}

@media (min-width: 1400px) {
    .page__container-left {
        width: 50%;
    }

    .page__container-right {
        width: 50%;
        display: flex;
        position: relative;
        z-index: auto;
        background: rgba(0, 230, 179, 0.3);
        o   pacity: 1;
    }
}
